/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
 }

 a {
    text-decoration: none;
 }

 a, a:visited, a:hover, a:active {
    color: inherit;
  }
  
  :root {
     --theme-color: rgb(255, 125, 125);
   }
   
   .navbar {
      color: var(--theme-color);
      background-color: white;
      box-shadow: 0px 1px 3px 1px rgb(255, 125, 125, 0.6);
      height: 8vh;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 80px;
      z-index: 3;
      position: fixed;
      top: 0;
      width: 100%;
}

.navbar > div {
   display: flex;
   gap: 40px;
}

.navbar > div:last-child > div {
   font-size: 18px;
   margin-right: 30px;
}

.navbar a {
   font-size: 18px;
   font-weight: 500;
}

.navbar a:hover {
   color: rgb(188, 88, 88);
   transition: 0.3s;
}

.footer {
   background-color: var(--theme-color);
   height: 8vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   margin-top: 30px;
 }

 .content-container {
    min-height: 84vh;
    margin-top: 20px;
    padding: 0px 80px;
   }
   
   .content-container h1 {
      text-align: center;
      font-size: 40px;
      font-weight: 200;
      color: var(--theme-color);
   }
   
   .events-container {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 60px;
      column-gap: 40px;
   }

   .event-container {
      padding: 10px 40px;
      background-color: rgb(249, 249, 249);

      border-radius: 20px;
      border: solid rgb(255, 125, 125, 0.4) 1px;
      box-shadow: 1px 1px 2px 2px rgb(255, 125, 125, 0.2);
      position: relative;
      z-index: 1;
      color: rgb(76, 76, 76);

      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   .event-container:hover {
      background-color: rgb(243, 237, 237);
      box-shadow: 1px 1px 6px 2px rgb(255, 125, 125, 0.4);
      transition: 0.4s;
   }

   .event-container > a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }

   .flash-messages {
      margin-top: 9vh;
      height: 20px;
      margin-bottom: -20px;
      font-weight: bold;
      text-align: center;
   }
   
   .flash-messages .notice {
   color: green;
   font-size: 14px;
 }

 .flash-messages .alert {
   color: red;
   font-size: 14px;
 }

 .creator-link {
   position: relative;
   z-index: 2;
   color: rgb(142, 59, 59);
   font-size: 18px;
 }

 .creator-link:hover {
   color: rgb(137, 79, 79);
   text-decoration: underline;
 }

 p.title {
   color: var(--theme-color);
   font-size: 18px;
   font-weight: bolder;
   text-align: center;
   margin-bottom: 10px;
 }

 .edit-btn {
   background-color: var(--theme-color);
   border-radius: 12px;
   padding: 10px 20px;
}

a.edit-btn {
    color: white;
    font-size: 18px;
 }

 .edit-btn:hover {
   background-color: rgb(137, 79, 79)
 }

 .profile-container {
   display: flex;
   flex-direction: column;
   gap: 20px;
 }

 .description {
   font-size: 18px;
   padding-top: 20px;
   text-indent: 50px;
   letter-spacing: 0.4px;
   word-spacing: 8px;
   line-height: 1.6;
 }

 .delete-btn {
   background-color: red;
   border-radius: 12px;
   padding: 10px 20px;
   width: fit-content;
   margin: 20px 0px;
}

.delete-btn a{
    color: white;
    font-size: 18px;
 }

 .delete-btn:hover {
   background-color: rgb(108, 8, 8)
 }

 .attendee-list li {
   font-size: 18px;
   line-height: 30px;
 }

 .attendee-list li:hover {
   color: var(--theme-color);
 }

 .user-profile-container {
   display: flex;
   flex-direction: column;
   gap: 20px;
 }

 .user-profile-container .edit-btn {
   width: fit-content;
 }

 .save-btn {
   background-color: green;
   color: white;
   font-size: 18px;
   border-radius: 12px;
   padding: 10px 20px;
   width: fit-content;
   margin: 20px 0px;
}

.save-btn a{
    color: white;
    font-size: 18px;
 }

 .save-btn:hover {
   background-color: rgb(4, 81, 4);
 }

 form {
   display: flex;
   flex-direction: column;
   gap: 26px;
 }

 form input {
   border: solid 1px rgba(128, 128, 128, 0.653);
   border-radius: 10px;
   padding: 6px 10px;
   width: 150px;
   text-align: center   ;
   margin: 6px 0px;
}

form input[type="text"],form input[type="email"],form input[type="password"] {
    width: 400px;
    text-align: left;
 }

 form label {
   font-size: 18px;
   color: rgb(90, 89, 89);
 }

 form input:focus {
   transition: 0.3s;
   outline: none;
   border: 1px rgba(114, 114, 250, 0.586) solid;
   box-shadow: 1px 1px 4px 1px rgba(114, 114, 250, 0.2);
 }

 form textarea {
   margin-top: 8px;
   width: 50%;
   height: 150px;
   padding: 12px 20px;
   box-sizing: border-box;
   border: solid 1px rgba(128, 128, 128, 0.653);
   border-radius: 10px;
   background-color: #ffffff;
   font-size: 16px;
   resize: none;
 }

 form textarea:focus {
   transition: 0.3s;
   outline: none;
   border: 1px rgba(114, 114, 250, 0.586) solid;
   box-shadow: 1px 1px 4px 1px rgba(114, 114, 250, 0.2);
 }

 h2.profile-title {
   color: var(--theme-color);
   font-size: 28px;
   text-align: center;
   margin-bottom: 30px;
 }

 .theme-btn {
   background-color: var(--theme-color);
   color: white;
   font-size: 18px;
   border-radius: 12px;
   padding: 10px 20px;
   width: fit-content;
   margin: 20px 0px;
}

 .theme-btn:hover {
   background-color: rgb(137, 79, 79);
 }

 .remember-field {
   display: flex;
   justify-content: flex-start;
   width: fit-content;
 }

 .remember-field input[type="checkbox"] {
   background-color: red;
   width: 30px;
 }

 input[type="checkbox"]:focus {
   border: none;
   box-shadow: none;
 }
